{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="{% static 'weather/css/styles.css' %}">
</head>

<body>
    <div class="container">
        <h1>Weather Now</h1>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="city" placeholder="Please enter city name" required>
            <!--If the user fails to enter the city name, appropriate message should pop up-->
            {% if errors.city %}
            <p class="error">{{ errors.city }}</p>
            {% endif %}
            <button type="submit">See Weather</button>
        </form>

        {% if weather_data %}
        {% if weather_data.error %}
        <p class="error">{{ weather_data.error }}</p>
        {% else %}
        <div class="weather-info">
            <h2>Weather now in {{ weather_data.city }}</h2>
            <p><strong>Temperature:</strong> {{ weather_data.temperature }}°C</p>
            <p><strong>Humidity:</strong> {{ weather_data.humidity }}%</p>
            <p><strong>Pressure:</strong> {{ weather_data.pressure }} hPa</p>
            <p><strong>Wind:</strong> {{ weather_data.wind_speed }} m/s</p>
            <p><strong>Wind Direction:</strong> {{ weather_data.wind_direction }}°</p>
            <p><strong>Description:</strong> {{ weather_data.description }}</p>
            <img src="http://openweathermap.org/img/wn/{{ weather_data.icon }}@2x.png" alt="Weather icon">
        </div>
        {% endif %}
        {% endif %}

        <!-- Footer -->
        <footer>
            <p>Data from <a href="https://openweathermap.org/" target="_blank">OpenWeatherMap</a></p><br>
            <b>Developed by Shreyas B. Mahale</p>
        </footer>
    </div>
</body>

</html>