{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="{% static 'weather/css/styles.css' %}">
</head>

<body>
    <div class="container">
        <h1>Weather App</h1>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="city" placeholder="Please enter city name" required>
            <!-- If the user fails to enter the city name, appropriate message should pop up -->
            {% if errors.city %}
            <p class="error">{{ errors.city }}</p>
            {% endif %}

            <!-- Dropdown for selecting weather type -->
            <select name="option">
                <option value="current">Right Now</option>
                <option value="past">Past Weather</option>
                <option value="forecast">Forecast</option>
            </select>

            <button type="submit">Get Weather Information</button>
        </form>

        {% if weather_data %}
        {% if weather_data.error %}
        <p class="error">{{ weather_data.error }}</p>
        {% else %}
        <!-- Display Current Weather -->
        {% if weather_data.temperature %}
        <div class="weather-info">
            <h2>Weather right now in {{ weather_data.city }}</h2>
            <h5>Information provided by: <b>OpenWeatherMap</b></h5>
            <p><strong>Temperature:</strong> {{ weather_data.temperature }}°C</p>
            <p><strong>Humidity:</strong> {{weather_data.humidity}} %</p>
            <p><strong>Wind Speed:</strong> {{weather_data.wind_speed}} m/s</p>
            <p><strong>Wind Direction:</strong> {{weather_data.wind_direction}}°</p>
            <p><strong>Pressure:</strong> {{weather_data.pressure}} hPa</p>
            <p><strong>Overall Description:</strong> {{ weather_data.description }}</p>
            <img src="http://openweathermap.org/img/wn/{{ weather_data.icon }}.png" alt="Weather Icon">
        </div>
        {% endif %}

        <!-- Display Past Weather -->
        {% if weather_data.past %}
        <div class="weather-info">
            <h2>Past Weather in {{ weather_data.city }}</h2>
            <h5>Information Provided by: <b>OpenWeatherMap</b></h5>
            <p><strong>Temperature:</strong> {{ weather_data.past.temperature }}°C</p>
            <p><strong>Description:</strong> {{ weather_data.past.description }}</p>
            <img src="http://openweathermap.org/img/wn/{{ weather_data.past.icon }}.png" alt="Weather Icon">
        </div>
        {% endif %}

        <!-- Display Forecast -->
        {% if weather_data.forecast %}
        <div class="weather-info">
            <h2>Today's forecast for {{ weather_data.city }}</h2>
            <h4>For the next few hours</h4>
            <h5>Information provided by: <b>OpenWeatherMap</b></h5>
            <ul>
                {% for forecast in weather_data.forecast %}
                <li>
                    <p><strong>Date & Time:</strong> {{ forecast.datetime }}</p>
                    <p><strong>Temperature:</strong> {{ forecast.temperature }}°C</p>
                    <p><strong>Description:</strong> {{ forecast.description }}</p>
                    <p><strong>Humidity:</strong> {{ forecast.humidity }} %</p>
                    <p><strong>Wind Speed:</strong> {{ forecast.wind_speed }} m/s</p>
                    <p><strong>Wind Direction:</strong> {{ forecast.wind_direction }}°</p>
                    <p><strong>Pressure:</strong> {{ forecast.pressure }} hPa</p>
                    <img src="http://openweathermap.org/img/wn/{{ forecast.icon }}.png" alt="Weather Icon">
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endif %}
        {% endif %}
    </div>
</body>
<!-- Footer -->
<footer>
    <div class="footer">
        <p>&copy; 2025 Weather App. All rights reserved.</p>
        <p>Developed by Shreyas B. Mahale</p>
    </div>
</footer>

</html>